/.htaccess

/storage/logs/errors.log
/storage/configure/configure.php

/vendor/claviska/simpleimage/LICENSE.md
/vendor/claviska/simpleimage/example/
/vendor/claviska/simpleimage/composer.json
/vendor/claviska/simpleimage/.github/
/vendor/claviska/simpleimage/.editorconfig
/vendor/claviska/simpleimage/README.md
/vendor/claviska/simpleimage/.gitignore
/vendor/phpmailer/phpmailer/get_oauth_token.php
/vendor/phpmailer/phpmailer/composer.json
/vendor/phpmailer/phpmailer/VERSION
/vendor/phpmailer/phpmailer/COMMITMENT
/vendor/phpmailer/phpmailer/README.md
/vendor/phpmailer/phpmailer/SECURITY.md
/vendor/phpmailer/phpmailer/LICENSE
/vendor/phpmailer/phpmailer/language/
/vendor/phpmailer/phpmailer/phpunit.xml.dist
/model/nbproject/
/nbproject/
