/****** Copyright © 2018 eMarket ******* 
*   GNU GENERAL PUBLIC LICENSE v.3.0   *    
* https://github.com/musicman3/eMarket *
***************************************/
@font-face {font-family: "Open Sans";src: url("fonts/OpenSans-Regular.ttf");}
*, ::after, ::before {box-sizing: border-box;}
:focus {outline:none;}
a:active, a:focus {outline: none;}
button:active, button:focus {outline: none !important;}
button::-moz-focus-inner {border: 0 !important;}
input, textarea {outline: none;}
input:active, textarea:active {outline: none;}
html {position: relative;min-height: 100%;}
body {background:#e4e4da;font-family: 'Open Sans',sans-serif;background-image:url('images/sep-half.png');margin-bottom: 70px;}
.welcome {text-align: center;font-size: 40px;color: #c6c6c6;text-shadow: 0px 1px 1px #FFF;padding-top: 60px;}
.welcome_logo {padding-top: 30px;padding-bottom: 30px;font-size: 100px;}
.welcome_description {padding-bottom: 50px;}
.login_logo span, .welcome_logo span {font-size: 60px;}
.welcome_description {font-size: 20px;}
#footerwrap {width: 100%;background: #4c453d;border-top: 8px solid #312d27;background-image: url('images/sep-half.png');text-align: center;position: absolute;bottom: 0;height: 80px;}
#footerwrap p {color: white;font-size: 12px;}
[class*=lbox-] {background:rgba(0,0,0,.4);position:absolute}
.lbox-horz {height: 136px;width: 100%;padding-left: 50px;margin-top: -68px;top: 50%}
.lbox-vert {height: 100%;width: 200px;left: 70%}
.login_logo {position: absolute;top: 20px;left: 40px;padding: 15px;text-align: center;font-size: 110px;color: #707070;text-shadow: 0px 1px 1px #575757;}
.login-box {width: 200px;height: 136px;position: absolute;margin-top: -68px;top: 50%;left: 70%;padding: 15px;text-align: center}
.login-box .btn, .login-box .btn a:active {border: 1px solid #000;color:#fff;background: none;}
#login .alert-danger {position: absolute;top: 10%;}
.navbar-right {color:#ffffff;margin-right:5px;}
.navbar {min-height: 30px;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color:#ffffff;}
@media (max-width:767px){.navbar-nav .dropdown-menu .link > li > a {padding: 5px 10px 5px 40px;}}
.navbar-inverse .navbar-nav>li> a {color:#ffffff;}
.dropdown-menu {background:#000000;min-width: 0px;}
.dropdown-menu>ul {margin-top:5px;}
.dropdown-menu>li>a {color:#ffffff;padding: 3px 5px;}
.dropdown-menu>li>a:focus, .dropdown-menu > li > a:hover {background:#505050;color:#ffffff;}
.nav>li>a {padding: 5px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background:#505050;color:#ffffff;}
.table {margin-bottom:0px;}
.panel-title {font-size: 18px;}
.modal-body, .panel-body, .input-sm {font-size: 14px;}
.input-xs {height:24px;font-size:12px;padding:0px 5px;}
.modal-content {font-weight:normal;}
.modal-header {background-color: #f5f5f5;padding: 10px 15px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.log-page {display: inline-block;float: left;}
.log-right {display: inline-block;float: right;}
.log-left {display: inline-block;float: right; padding-right:10px;}
.add-xs {font-size:14px;display: inline-block;float: right; padding-right:5px;padding-left:5px;}
#category .check-box {vertical-align: middle;margin-top: 0;}
input[type="checkbox"], input[type="radio"] {vertical-align: text-bottom;}
.popover-title {text-align:center;padding:5px 0 5px 0;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding:5px;}
.sortyes {cursor:move;}
.table .sortleft {width:30px;vertical-align: middle;text-align: center;}
.table .sortleft-m {color:#d8d8cf;width:25px;vertical-align: middle;text-align: center;}
.table .sortleft-mp {opacity:0;width:25px;vertical-align: middle;text-align: center;}
.table .sortno:hover {background: none;}
.table > tbody > tr > td.active {background-color: #f0f0f0;}
.table > tbody > tr > td.option, .table > tbody > tr > td.options {padding:0px;}
.table .left {vertical-align: middle;width: 70%;}
.table .right {vertical-align: middle;width: 7%;}
div.context-one {padding:5px;}
.al-text {text-align: center;}
.al-text-w {text-align: center;width: 150px;}
.products .row {margin-left: 0;margin-right: 0;}
.products .col-left {float: left;width: 250px;margin-right: 65px;}
.products .col-right {float: left;width: 250px;}
.products .col-left-w {float: left;width: 150px;margin-right: 58px;}
.products .col-right-w {float: left;width: 150px;}
#products .table > thead > tr.border > th {border-bottom: 1px solid #ddd;}
@media (min-width:768px){.products .modal-dialog{width:680px;margin:30px auto;}}
.settings {float: left;padding-left: 5px;}
.settings .btn {margin-right: 10px;}
.tooltip-inner {font-family: 'Open Sans',sans-serif;}
.tooltip-right {float: right;}
.tooltip-right .glyphicon {color: #000000;opacity: 0.5}
.tab-content {padding-top: 10px;}
.input-group .data {position: static;}