/* =-=-=-= Copyright © 2018 eMarket =-=-=-=  
  |    GNU GENERAL PUBLIC LICENSE v.3.0    |
  |  https://github.com/musicman3/eMarket  |
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;font-size: 100%;vertical-align: middle;}
table {border-collapse: collapse;border-spacing: 0;}
th, td {text-align: left;font-weight: normal;}
a img {border: none;}
figure, footer, header, section {display: block;}
body {font-weight: 300;font-size: 12px;margin: 0;padding: 0;color: #777777;}
body a {text-decoration: none;color: inherit;}
body a:hover {color: inherit;opacity: 0.7;}
body .container {min-width: 500px;margin: 0 auto;padding: 0 30px;}
body .clearfix:after {content: "";display: table;clear: both;}
body .left {float: left;}
body .right {float: right;}
body .helper {height: 100%;}
header {height: 40px;margin-top: 20px;margin-bottom: 40px;padding: 0px 5px 0;}
header figure {float: left;width: 40px;margin-right: 10px;}
header figure img {height: 40px;}
header .company-info {color: #BDB9B9;}
header .company-info .title {margin-bottom: 5px;color: #2A8EAC;font-weight: 600;font-size: 2em;}
header .company-info .line {display: inline-block;height: 9px;margin: 0 4px;border-left: 1px solid #2A8EAC;}
section .details {min-width: 500px;margin-bottom: 40px;padding: 10px 35px;background-color: #2A8EAC;color: #ffffff;}
section .details .client {width: 50%;line-height: 16px;}
section .details .client .name {font-weight: 600;}
section .details .data {width: 50%;text-align: right;}
section .details .title {margin-bottom: 15px;font-size: 3em;font-weight: 400;text-transform: uppercase;}
section .table-wrapper {position: relative;overflow: hidden;}
/*section .table-wrapper:before {content: "";display: block;position: absolute;top: 33px;left: 30px;width: 90%;height: 100%;border-top: 2px solid #BDB9B9;border-left: 2px solid #BDB9B9;z-index: -1;}*/
section .no-break {page-break-inside: avoid;}
section table {width: 100%;margin-bottom: -20px;table-layout: fixed;border-collapse: separate;border-spacing: 5px 20px;}
section table .no {width: 10px;}
section table .desc {width: 55%;}
section table .qty, section table .unit, section table .total {width: 15%;}
section table tbody.head {border-color: inherit;}
section table tbody.head th {text-align: center;color: white;font-weight: 600;text-transform: uppercase;}
section table tbody.head th {padding: 15px 0 0 0;background: #BDB9B9;}
section table tbody.head th.no {padding: 15px 0 0 0;background: none;}
section table tbody.head th.desc {width: 115px;margin-left: -110px;}
section table tbody.body td {padding: 15px 10px 0 10px;background: #F3F3F3;text-align: center;}
section table tbody.body h3 {margin-bottom: 5px;color: #2A8EAC;font-weight: 600;}
section table tbody.body .no {background-color: #2A8EAC;color: #ffffff;font-size: 1.66666666666667em;font-weight: 600;}
section table tbody.body .desc {background-color: transparent;color: #777787;text-align: left;}
section table tbody.body .total {color: #2A8EAC;font-weight: 600;}
section table tbody.body tr.total td {padding: 5px 10px;background-color: transparent;border: none;color: #777777;text-align: right;}
section table tbody.body tr.total .empty {background: white;}
section table tbody.body tr.total .total {font-size: 1.18181818181818em;font-weight: 600;color: #2A8EAC;}
section table.grand-total {margin-top: 40px;margin-bottom: 0;border-collapse: collapse;border-spacing: 0px 0px;margin-bottom: 40px;}
section table.grand-total tbody td {padding: 10px;background-color: #2A8EAC;color: #ffffff;font-weight: 400;text-align: right;}
section table.grand-total tbody td.units {padding: 0 10px 10px 10px;}
section table.grand-total tbody td.totals {padding: 0 10px 10px 10px;}
section table.grand-total tbody td.no, section table.grand-total tbody td.desc, section table.grand-total tbody td.qty {background-color: transparent;}
section table.grand-total tbody td.grand-total {font-size: 1.16666666666667em;font-weight: 600;background-color: #21BCEA;padding: 10px 5px;}
footer {margin-bottom: 20px;padding: 0 5px;}
footer .thanks {margin-bottom: 40px;color: #2A8EAC;font-size: 1.16666666666667em;font-weight: 600;}
footer .notice {margin-bottom: 25px;}
footer .end {padding-top: 5px;border-top: 2px solid #2A8EAC;text-align: center;}

