/* =-=-=-= Copyright © 2018 eMarket =-=-=-=  
  |    GNU GENERAL PUBLIC LICENSE v.3.0    |
  |  https://github.com/musicman3/eMarket  |
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.line {border-bottom: 3px solid #000;width: 100%;}
.line-light {width: 100%;border-bottom: 1px solid #949597;}
.line-end {width: 100%;border-bottom: 3px solid #f0c29e;}
.data {background-color: #dcdddf;padding-left: 45px;}
.data .data-box {margin-top: 60px;}
.data .data-box .data-separator {border-top: 1px solid #949597;width: 10%;}
.content {background-color: #f1f1f1;padding-right: 45px;}
.without-margin {margin: 0 !important;}
.page {page-break-after: always;page-break-inside: avoid;}