/* =-=-=-= Copyright © 2018 eMarket =-=-=-=  
  |    GNU GENERAL PUBLIC LICENSE v.3.0    |
  |  https://github.com/musicman3/eMarket  |
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@font-face {font-family: 'Open Sans';src: url('../../../ext/fonts/OpenSans-Regular.ttf');}
:focus {outline: none;}
a:active, a:focus, a:hover {outline: none;}
button:active, button:focus {outline: none !important;}
button::-moz-focus-inner {border: 0 !important;}
input, textarea {outline: none;}
input:active, textarea:active {outline: none;}
html {height: 100%;}
body {font-family: 'Open Sans';position: relative;min-height: 100%; padding-bottom: 70px;}
a {text-decoration: none;}

@media (min-width: 768px){.modal-lg {width: 750px;}}

#Carousel .bi-chevron-left, #Carousel .bi-chevron-right {opacity: 0;transition: 1s opacity;}
#Carousel:hover .bi-chevron-left, #Carousel:hover .bi-chevron-right {opacity: 1;transition: 1s opacity;}
#Carousel .bi-chevron-left, #Carousel .bi-chevron-right {font-size: 30px;}
#Carousel .slide-text-anime h3 {animation: anime-H3 1.3s ease-out;transform: translate(0); }
#Carousel .slide-text-anime p {animation: anime-P 1.5s ease-out;transform: translate(0); }
@media (min-width:1400px) {#Carousel .carousel-inner h3 {font-size: 26px;}}
@media (min-width:1400px) {#Carousel .carousel-inner p {font-size: 16px;}}
@media (min-width:1200px) and (max-width:1399px) {#Carousel .carousel-inner h3 {font-size: 24px;}}
@media (min-width:1200px) and (max-width:1399px) {#Carousel .carousel-inner p {font-size: 14px;}}
@media (min-width:992px) and (max-width:1199px) {#Carousel .carousel-inner h3 {font-size: 22px;}}
@media (min-width:992px) and (max-width:1199px) {#Carousel .carousel-inner p {font-size: 12px;}}
@media (max-width:991px) {#Carousel .carousel-inner h3 {font-size: 20px;}}
@media (max-width:991px) {#Carousel .carousel-inner p {font-size: 11px;}}
@keyframes anime-H3 { from { opacity: 0; transform: translateX(-2000px); } to { opacity: 1; transform: translateX(0); } }
@keyframes anime-P { from { opacity: 0; transform: translateX(2000px); } to { opacity: 1; transform: translateX(0); } }

h1 {color: #03539a;font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

#layouts-categories .category_block ul {padding: 0;margin: 0;}
#layouts-categories .category_block ul ul {padding: 0 0 0 10px;}
#layouts-categories .category_block ul li {list-style: none;}
#layouts-categories .category_block ul li:last-child {border-bottom: none;}
#layouts-categories .category_block .hitarea {float: right;}
#layouts-categories .category_block .hitarea.expandable-hitarea {cursor: pointer;}
#layouts-categories .category_block .hitarea.collapsable-hitarea {cursor: pointer;}
#layouts-categories .category_block .hitarea.expandable-hitarea:before {font-family: bootstrap-icons;content: '\bi-plus';color: #0d6efd;}
#layouts-categories .category_block .hitarea.collapsable-hitarea:before {font-family: bootstrap-icons;content: '\bi-dash';color: #0d6efd;}

#new_products .item-price {font-weight: 700;}
#new_products .labelsblock {position: absolute;margin: -5px 0 0 -5px;}
#new_products .labelsblock div {display: table;padding: 4px 7px;color: #ffffff;font-size: 12px;margin: 0 0 4px 0;border-radius: 3px;text-transform: uppercase;font-weight: 700;}

#products .quantity {all: unset;appearance: textfield;width: 35px;text-align: center;vertical-align: middle;border: 1px solid #2e6da4;border-radius: 4px;padding: 6px 0 6px 0;}
#products .productpage ul li {list-style: none;}
#products .productpage ul {padding: 0;margin: 0;}
#products .productpage-price {font-size: 18px;color: #000000;font-weight: 700;}
#products .product-attribute h5 {padding-left: 10px;margin-bottom: 14px;font-weight: bold;}
#products .product-attribute-table {margin-bottom: 16px;}
#products .product-attribute-table td {padding-left: 20px;border-left: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
#products .product-attribute-table td:first-child {border-left: 0;}
#products .product-attribute-specification {display: table-cell;}
#products .labelsblock {position: absolute;}
#products .labelsblock div {display: table;padding: 2.8px 7px;color: #ffffff;font-size: 14px;margin: 0 0 4px 0;border-radius: 3px;text-transform: uppercase;font-weight: 700;}

#listing .list-group-item {border: none;padding: 0px 12px;}
#listing .list-group-item img {float: left;padding-right: 100px;}
#listing .list-group-item .item-price {font-weight: 700;}
#listing .list-group-item .caption {float: left;}
#listing .list-group-item .block-button {float: right;}
#listing .list-group-item .item-button {display: flex;justify-content: end;}
#listing .grid-group-item .item-price {font-weight: 700;text-align: center;}
#listing .grid-group-item .block-button {margin-left: -5px;margin-right: -5px;}
#listing .grid-group-item .buy-now {float: right;}
#listing .grid-group-item .item-heading {text-align: center;}
#listing .grid-group-item .item-text {display: none;}
@media (max-width:669px) {#listing .hidden-grid-list {display: none !important;}}
@media (max-width:579px) {#listing .bootstrap-switch {display: none !important;}}
@media (max-width:449px) {#listing .navigate-normal {display: none !important;}}
@media (min-width:450px) {#listing .navigate-mini {display: none !important;}}
#listing .dropdown-menu > li > a {cursor: pointer;}
#listing .item-text ul {list-style: none;padding: 0;margin: 0;}
#listing .quantity {all: unset;appearance: textfield;width: 35px;text-align: center;vertical-align: middle;border: 1px solid #2e6da4;border-radius: 4px;padding: 6px 0 6px 0;}
#listing .buy-now {padding: 6px 8px;}
#listing .labelsblock {position: absolute;margin: -5px 0 0 -5px;}
#listing .labelsblock div {display: table;padding: 4px 7px;color: #ffffff;font-size: 12px;margin: 0 0 4px 0;border-radius: 3px;text-transform: uppercase;font-weight: 700;}

#cart .table > :not(caption) > * > * {border-width: 0}
#cart .trtop {border-width: 1px 1px 0 1px;}
#cart .trbottom {border-width: 0 1px 1px 1px;}
#cart .trcenter {border-width: 1px;}
#cart .quantity {all: unset;appearance: textfield;width: 30px;text-align: center;vertical-align: middle;border: 1px solid #2e6da4;border-radius: 4px;padding: 3px 0 3px 0;}

#cart input[type="number"]::-webkit-inner-spin-button, #cart input[type="number"]::-webkit-outer-spin-button, #products input[type="number"]::-webkit-inner-spin-button, #products input[type="number"]::-webkit-outer-spin-button, #listing input[type="number"]::-webkit-inner-spin-button, #listing input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}

#register legend, #login legend, #forgotpass legend, #my_account legend {font-size: 14px;text-transform: uppercase;padding: 0 0 5px;color: #666;border-bottom: 1px solid #e5e5e5;}

#panel_attribute .selector {width: 30%}

#alert {padding: 2px 5px;margin: 2px 0 0 0;float: right;line-height: 1.4;}

.modal-content {font-size: 14px;}
.modal-header {background-color: #f5f5f5;padding: 10px 15px;}
.table-radius {overflow: hidden;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.footerwrap {position: absolute;bottom: 0;left: 0;width: 100%;font-size: 14px;height: 70px;}