/* =-=-=-= Copyright © 2018 eMarket =-=-=-=  
  |    GNU GENERAL PUBLIC LICENSE v.3.0    |
  |  https://github.com/musicman3/eMarket  |
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@font-face {font-family: 'Open Sans';src: url('../../../ext/fonts/OpenSans-Regular.ttf');}
:focus {outline:none;}
a:active, a:focus {outline: none;}
button:active, button:focus {outline: none !important;}
button::-moz-focus-inner {border: 0 !important;}
input, textarea {outline: none;}
input:active, textarea:active {outline: none;}
body {font-family: 'Open Sans';}
#header, #bodyWrapper, #Carousel, .breadcrumb {margin-top:5px;margin-bottom:5px;}
.footer {margin:15px 0 15px 0;}
#header .searchbox-margin {padding-top: 18px;}
#header .logo {padding: 0 10px 0 0;}
#Carousel .left {border-radius: 4px;}
#Carousel .right {border-radius: 4px;}
#Carousel .glyphicon-chevron-left {opacity:0;left:0;transition: all .5s ease;}
#Carousel .glyphicon-chevron-right {opacity:0;right:0;transition: all .5s ease}
#Carousel:hover .glyphicon-chevron-left {opacity:1;left:25%;}
#Carousel:hover .glyphicon-chevron-right {opacity:1;right:25%;}
.carousel-inner {border-radius: 4px;}
.carousel-inner h3 {padding: 20px;animation: anime-H3 1.3s ease-out;}
.carousel-inner p {font-size: 18px;padding: 20px;animation: anime-P 1.6s ease-out;}
@keyframes anime-H3 { from { opacity: 0; transform: translateX(-2000px); } to { opacity: 1; transform: translateX(0); } }
@keyframes anime-P { from { opacity: 0; transform: translateX(2000px); } to { opacity: 1; transform: translateX(0); } }
#layouts-categories .panel-heading {padding:5px 10px;}
#layouts-categories .panel-body {padding:10px;}
#bodyContent h1 {color: #03539a;margin-top: 3px;font-size: 24px;}
#bodyContent h4 {font-size:20px;}
#bodyContent h5 {font-size:16px;}
nav .disabled {pointer-events: none;}
.navbar {min-height: 30px;margin-bottom: 10px;border-radius:0;}
.navbar-left {margin-left:-15px}
.container-fluid > .navbar-collapse {margin-left:-15px;margin-right:-15px;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color:#999999;}
.navbar-inverse .navbar-nav > li > a {color:#999999;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {color:#ffffff;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color:#ffffff;}
.navbar-no-margin {margin-bottom: 0 !important;}
.navbar-no-corners {border-radius: 0 !important;border-left: none;border-right: none;}
.dropdown-menu {background:#222222;min-width:0;}
.dropdown-menu > ul {margin-top:5px;}
.dropdown-menu > li > a {color:#999999;padding: 3px 10px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background:#505050;color:#ffffff;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {background:#222222;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background:#505050;color:#ffffff;}
.navbar-toggle {margin-top: 0;margin-bottom: 0;}
@media (max-width:767px) {.navbar-nav .dropdown-menu .link > li > a {padding: 5px 10px 5px 40px;}}
#columnLeft .panel-heading, #columnRight .panel-heading {font-size: 16px;}
.category_block ul {padding: 0;margin: 0;}
.category_block ul ul {padding: 0 0 0 10px;}
.category_block ul li {list-style: none;}
.category_block ul li:last-child {border-bottom: none;}
.category_block .hitarea {float: right;}
.category_block .hitarea.expandable-hitarea {cursor: pointer;}
.category_block .hitarea.collapsable-hitarea {cursor: pointer;}
.category_block .hitarea.expandable-hitarea:before {font-family: 'Glyphicons Halflings';content: '\002b';color: #4586bd;opacity: 0.7;font-size: 10px;}
.category_block .hitarea.collapsable-hitarea:before {font-family: 'Glyphicons Halflings';content: '\2212';color: #4586bd;opacity: 0.7;font-size: 10px;}
#new_products .grid-group-item, #categories_listing .grid-group-item, #categories_index .grid-group-item, #listing .grid-group-item {margin-bottom: 20px;}
#new_products .productHolder, #listing .productHolder, #categories_listing .categoriesHolder, #categories_index .categoriesHolder {border: 1px solid #dddddd;padding: 10px;border-radius: 4px;}
#new_products .button, #listing .button, #products .button {display: flex;align-items: center;}
#products .list-group-item {border: none;margin-bottom: 20px;}
#products .img-padding {padding: 0 0 15px 0;}
#products .list-group-item .item-text {text-align: justify;padding: 10px;border: 1px solid #dddddd;border-top: 0;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
#products .nav-tabs > li.active > a, #products .nav-tabs > li.active > a:hover, #products .nav-tabs > li.active > a:focus {color: #ffffff;background: #428bca;border-color: #337ab7;}
#products .nav-tabs > li > a {line-height: 1;border-color:  #e3e3e3;background: #F5F5F5}
#products .quantity {all: unset;-moz-appearance: textfield;width: 38px;text-align: center;vertical-align: middle;border: 1px solid #2e6da4;border-radius: 3px;padding: 6px 0 6px 0;}
#products .productpage ul li {list-style: none;}
#products .productpage ul {padding: 0;margin: 0;}
#products .productpage-price {font-size: 18px;color: #000;font-weight: bold;}
#products .productpage {margin-bottom: 20px;}
#products .product-attribute h4 {padding-left: 10px;margin-bottom: 14px;font-size: 15px;font-weight: bold;}
#products .product-attribute-table {margin-bottom: 32px;}
#products .product-attribute-table td {padding-left: 20px;border-left: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
#products .product-attribute-table td:first-child {border-left: 0;}
#products .product-attribute-specification {display: table-cell;}
#index .nav > li > a {padding: 5px;}
#index .tab-content {padding-top: 10px;}
#index .pull-right .glyphicon {color: #000000;opacity: 0.5}
@media (min-width:768px){.modal-md {width:700px;}}
#listing .list-group-item {border: none;padding: 0px 15px;margin-bottom: 20px;}
#listing .list-group-item img {float: left;margin: 0 50px 10px 0;}
#listing .list-group-item .item-text {text-align: justify;margin-bottom: 10px;}
#listing .list-group-item .caption {margin-top:-10px;}
#listing .grid-group-item .item-heading {text-align: center;}
#listing .grid-group-item .item-text {display: none;}
#listing .grid-group-item img {display: block;margin-right: auto;margin-left: auto;}
#listing .dropdown-menu {background-color: #ffffff;}
#listing .dropdown-menu > li > a {color: #000000;}
#listing .dropdown-menu > li > a:focus, #listing .dropdown-menu > li > a:hover {background: #f5f5f5;}
#listing .result-inner {margin: 5px 0 5px 0;}
#listing .pagination-inner {margin-top: -2px;}
#listing .pagination {margin: 0}
#listing .item-text ul li {list-style: none;}
#cart .button {padding-bottom: 20px;}
#cart .table-bordered > tbody > tr > td {border:0;vertical-align: middle;}
#cart .quantity {all: unset;-moz-appearance: textfield;width: 30px;text-align: center;vertical-align: middle;border: 1px solid #2e6da4;border-radius: 3px;padding: 4px 0 4px 0;}
#cart .quantity:-webkit-inner-spin-button, #products .quantity:-webkit-inner-spin-button {display: none;}
#register fieldset, #forgotpass fieldset {min-width: 0;padding: 0;margin: 0;border: 0;}
#register legend, #login legend, #forgotpass legend {font-size: 14px;text-transform: uppercase;padding: 5px 0px 5px;display: block;width: 100%;margin-bottom: 20px;color: #666;border: 0;border-bottom-color: currentcolor;border-bottom-style: none;border-bottom-width: 0px;border-bottom: 1px solid #e5e5e5;}
.modal-content .tooltip-inner {font-family: 'Open Sans';max-width:400px;}
.modal-body, .panel-body, .input-sm {font-size: 14px;}
.modal-content {font-weight:normal;}
.modal-header {background-color: #f5f5f5;padding: 10px 15px;border-top-left-radius: 6px;border-top-right-radius: 6px;}
.b-right {display: inline-block;float: right;}
.b-left {display: inline-block;float: right; padding-right:10px;}
.al-text-w {text-align: center;width: 85px;}
.al-text {text-align: center;}
#panel_attribute .selector {width: 30%}